<%= form_for @user do |f| %>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        
        <div class="well well-sm">
          <form class="form-horizontal">
          <fieldset>
            <legend class="text-center">Sign Up</legend>
                  <% if @user.errors.any? %>
                  <div class="error_messages">
                    <ul>
                      <% for message in @user.errors.full_messages %>
                        <%= content_tag :div, message, :class => "bg-danger" %>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
            

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Email</label>
              <div class="col-md-7">
                <%= f.text_field :email, :class => "form-control", :placeholder => "Your email"%>
              </div>
            </div>
    

            <div class="form-group">
              <label class="col-md-4 control-label" for="email" style="margin-top:10px;">Password</label>
              <div class="col-md-7" style="margin-top:10px;">
                <%= f.password_field :password, :class => "form-control", :placeholder => "Your Password"%>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label" for="email" style="margin-top:10px;">Confirm Password</label>
              <div class="col-md-7" style="margin-top:10px;">
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation"%>
              </div>
            </div>

    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-11 text-right" style="margin-top:10px;">
                <%= f.submit :class => "btn btn-primary" %>
              </div>
            </div>

          </fieldset>
          </form>
        </div>
      </div>
    </div>
  <% end %>